<html>
    <head>
        <script src="/static/functions.js"></script>
        <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
        <meta charset="utf-8" http-equiv="encoding">
        <link rel="stylesheet" href="/static/wordstyle.css">
    </head>
    <body>
        {% block navbar %}
        <nav>
            <h1>Word List Program for {{name}}</h1>
        </nav>
        {% endblock %}
        {% block content %}
        default content
        {% endblock %}
        {% block footer %}
        <footer>
            <a href="https://github.com/GusOhnesorge/Word_List"> My Github </a>
        </footer>
        {% endblock %}
    </body>
</html>
